#root {
  --fire: #fe9c57;
  --water: #5091d7;
  --grass: #63ba59;
  --electric: #f5d33a;
  --ground: #d8774e;
  --flying: #8babe5;
  --ice: #72cebe;
  --rock: #c4b68c;
  --stell: #5790a2;
  --normal: #9197a0;
  --fighting: #ce406a;
  --ghost: #516baa;
  --dark: #5d5364;
  --poison: #b865d2;
  --dragon: #106cc1;
  --fairy: #ec8fe8;
  --bug: #90c12f;
  --psychic: #f6727a;
}

.cards {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
}

.card {
  font-family: Poppins;
  text-transform: capitalize;
  color: white;
  width: 320px;
  height: 150px;
  /* background-color: #ffd86f; */
  display: flex;
  overflow: hidden;
  text-align: center;
  padding: 20px;
  /* margin-bottom: 2rem; */
  margin: 7.9px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.36);
}

.card:last-child {
  margin-bottom: 0; 
}

.card-ls,
.card-rs {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-ls {
  align-items: flex-start;
}

.card-rs img {
  max-width: 100%;
  max-height: 100%;
}

.tags {
  display: flex;
  flex-direction: column;
}

.tag {
  border-radius: 100%;
  background-color: hsla(0, 0%, 100%, 0.2);
  height: auto;
  width: 70px;
  padding: 0px 3px 0px 3px;
  margin: 2px;
  border-radius: 6px;
}
